=begin
#Finnhub API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.1

=end

require 'cgi'

module FinnhubRuby
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aggregate Indicators
    # Get aggregate signal of multiple technical indicators such as MACD, RSI, Moving Average v.v.
    # @param symbol [String] symbol
    # @param resolution [String] Supported resolution includes &lt;code&gt;1, 5, 15, 30, 60, D, W, M &lt;/code&gt;.Some timeframes might not be available depending on the exchange.
    # @param [Hash] opts the optional parameters
    # @return [AggregateIndicators]
    def aggregate_indicator(symbol, resolution, opts = {})
      data, _status_code, _headers = aggregate_indicator_with_http_info(symbol, resolution, opts)
      data
    end

    # Aggregate Indicators
    # Get aggregate signal of multiple technical indicators such as MACD, RSI, Moving Average v.v.
    # @param symbol [String] symbol
    # @param resolution [String] Supported resolution includes &lt;code&gt;1, 5, 15, 30, 60, D, W, M &lt;/code&gt;.Some timeframes might not be available depending on the exchange.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AggregateIndicators, Integer, Hash)>] AggregateIndicators data, response status code and response headers
    def aggregate_indicator_with_http_info(symbol, resolution, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate_indicator ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.aggregate_indicator"
      end
      # verify the required parameter 'resolution' is set
      if @api_client.config.client_side_validation && resolution.nil?
        fail ArgumentError, "Missing the required parameter 'resolution' when calling DefaultApi.aggregate_indicator"
      end
      # resource path
      local_var_path = '/scan/technical-indicator'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'resolution'] = resolution

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AggregateIndicators'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.aggregate_indicator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate_indicator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bond price data
    # Get end-of-day bond's price data.
    # @param isin [String] ISIN.
    # @param from [Integer] UNIX timestamp. Interval initial value.
    # @param to [Integer] UNIX timestamp. Interval end value.
    # @param [Hash] opts the optional parameters
    # @return [BondCandles]
    def bond_price(isin, from, to, opts = {})
      data, _status_code, _headers = bond_price_with_http_info(isin, from, to, opts)
      data
    end

    # Bond price data
    # Get end-of-day bond&#39;s price data.
    # @param isin [String] ISIN.
    # @param from [Integer] UNIX timestamp. Interval initial value.
    # @param to [Integer] UNIX timestamp. Interval end value.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BondCandles, Integer, Hash)>] BondCandles data, response status code and response headers
    def bond_price_with_http_info(isin, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bond_price ...'
      end
      # verify the required parameter 'isin' is set
      if @api_client.config.client_side_validation && isin.nil?
        fail ArgumentError, "Missing the required parameter 'isin' when calling DefaultApi.bond_price"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling DefaultApi.bond_price"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling DefaultApi.bond_price"
      end
      # resource path
      local_var_path = '/bond/price'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'isin'] = isin
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BondCandles'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.bond_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bond_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bond Profile
    # Get general information of a bond. You can query by FIGI, ISIN or CUSIP
    # @param [Hash] opts the optional parameters
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @option opts [String] :figi FIGI
    # @return [BondProfile]
    def bond_profile(opts = {})
      data, _status_code, _headers = bond_profile_with_http_info(opts)
      data
    end

    # Bond Profile
    # Get general information of a bond. You can query by FIGI, ISIN or CUSIP
    # @param [Hash] opts the optional parameters
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @option opts [String] :figi FIGI
    # @return [Array<(BondProfile, Integer, Hash)>] BondProfile data, response status code and response headers
    def bond_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.bond_profile ...'
      end
      # resource path
      local_var_path = '/bond/profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'isin'] = opts[:'isin'] if !opts[:'isin'].nil?
      query_params[:'cusip'] = opts[:'cusip'] if !opts[:'cusip'].nil?
      query_params[:'figi'] = opts[:'figi'] if !opts[:'figi'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BondProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.bond_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#bond_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Basic Financials
    # Get company basic financials such as margin, P/E ratio, 52-week high/low etc.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param metric [String] Metric type. Can be 1 of the following values &lt;code&gt;all&lt;/code&gt;
    # @param [Hash] opts the optional parameters
    # @return [BasicFinancials]
    def company_basic_financials(symbol, metric, opts = {})
      data, _status_code, _headers = company_basic_financials_with_http_info(symbol, metric, opts)
      data
    end

    # Basic Financials
    # Get company basic financials such as margin, P/E ratio, 52-week high/low etc.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param metric [String] Metric type. Can be 1 of the following values &lt;code&gt;all&lt;/code&gt;
    # @param [Hash] opts the optional parameters
    # @return [Array<(BasicFinancials, Integer, Hash)>] BasicFinancials data, response status code and response headers
    def company_basic_financials_with_http_info(symbol, metric, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_basic_financials ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_basic_financials"
      end
      # verify the required parameter 'metric' is set
      if @api_client.config.client_side_validation && metric.nil?
        fail ArgumentError, "Missing the required parameter 'metric' when calling DefaultApi.company_basic_financials"
      end
      # resource path
      local_var_path = '/stock/metric'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'metric'] = metric

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BasicFinancials'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_basic_financials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_basic_financials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Earnings Surprises
    # Get company historical quarterly earnings surprise going back to 2000.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit number of period returned. Leave blank to get the full history.
    # @return [Array<EarningResult>]
    def company_earnings(symbol, opts = {})
      data, _status_code, _headers = company_earnings_with_http_info(symbol, opts)
      data
    end

    # Earnings Surprises
    # Get company historical quarterly earnings surprise going back to 2000.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Limit number of period returned. Leave blank to get the full history.
    # @return [Array<(Array<EarningResult>, Integer, Hash)>] Array<EarningResult> data, response status code and response headers
    def company_earnings_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_earnings ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_earnings"
      end
      # resource path
      local_var_path = '/stock/earnings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EarningResult>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_earnings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_earnings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company Earnings Quality Score
    # <p>This endpoint provides Earnings Quality Score for global companies.</p><p> Earnings quality refers to the extent to which current earnings predict future earnings. \"High-quality\" earnings are expected to persist, while \"low-quality\" earnings do not. A higher score means a higher earnings quality</p><p>Finnhub uses a proprietary model which takes into consideration 4 criteria:</p> <ul style=\"list-style-type: unset; margin-left: 30px;\"><li>Profitability</li><li>Growth</li><li>Cash Generation & Capital Allocation</li><li>Leverage</li></ul><br/><p>We then compare the metrics of each company in each category against its peers in the same industry to gauge how quality its earnings is.</p>
    # @param symbol [String] Symbol.
    # @param freq [String] Frequency. Currently support &lt;code&gt;annual&lt;/code&gt; and &lt;code&gt;quarterly&lt;/code&gt;
    # @param [Hash] opts the optional parameters
    # @return [CompanyEarningsQualityScore]
    def company_earnings_quality_score(symbol, freq, opts = {})
      data, _status_code, _headers = company_earnings_quality_score_with_http_info(symbol, freq, opts)
      data
    end

    # Company Earnings Quality Score
    # &lt;p&gt;This endpoint provides Earnings Quality Score for global companies.&lt;/p&gt;&lt;p&gt; Earnings quality refers to the extent to which current earnings predict future earnings. \&quot;High-quality\&quot; earnings are expected to persist, while \&quot;low-quality\&quot; earnings do not. A higher score means a higher earnings quality&lt;/p&gt;&lt;p&gt;Finnhub uses a proprietary model which takes into consideration 4 criteria:&lt;/p&gt; &lt;ul style&#x3D;\&quot;list-style-type: unset; margin-left: 30px;\&quot;&gt;&lt;li&gt;Profitability&lt;/li&gt;&lt;li&gt;Growth&lt;/li&gt;&lt;li&gt;Cash Generation &amp; Capital Allocation&lt;/li&gt;&lt;li&gt;Leverage&lt;/li&gt;&lt;/ul&gt;&lt;br/&gt;&lt;p&gt;We then compare the metrics of each company in each category against its peers in the same industry to gauge how quality its earnings is.&lt;/p&gt;
    # @param symbol [String] Symbol.
    # @param freq [String] Frequency. Currently support &lt;code&gt;annual&lt;/code&gt; and &lt;code&gt;quarterly&lt;/code&gt;
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyEarningsQualityScore, Integer, Hash)>] CompanyEarningsQualityScore data, response status code and response headers
    def company_earnings_quality_score_with_http_info(symbol, freq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_earnings_quality_score ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_earnings_quality_score"
      end
      # verify the required parameter 'freq' is set
      if @api_client.config.client_side_validation && freq.nil?
        fail ArgumentError, "Missing the required parameter 'freq' when calling DefaultApi.company_earnings_quality_score"
      end
      # resource path
      local_var_path = '/stock/earnings-quality-score'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'freq'] = freq

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyEarningsQualityScore'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_earnings_quality_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_earnings_quality_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # EBIT Estimates
    # Get company's ebit estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [EbitEstimates]
    def company_ebit_estimates(symbol, opts = {})
      data, _status_code, _headers = company_ebit_estimates_with_http_info(symbol, opts)
      data
    end

    # EBIT Estimates
    # Get company&#39;s ebit estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [Array<(EbitEstimates, Integer, Hash)>] EbitEstimates data, response status code and response headers
    def company_ebit_estimates_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_ebit_estimates ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_ebit_estimates"
      end
      # resource path
      local_var_path = '/stock/ebit-estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'freq'] = opts[:'freq'] if !opts[:'freq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EbitEstimates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_ebit_estimates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_ebit_estimates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # EBITDA Estimates
    # Get company's ebitda estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [EbitdaEstimates]
    def company_ebitda_estimates(symbol, opts = {})
      data, _status_code, _headers = company_ebitda_estimates_with_http_info(symbol, opts)
      data
    end

    # EBITDA Estimates
    # Get company&#39;s ebitda estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [Array<(EbitdaEstimates, Integer, Hash)>] EbitdaEstimates data, response status code and response headers
    def company_ebitda_estimates_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_ebitda_estimates ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_ebitda_estimates"
      end
      # resource path
      local_var_path = '/stock/ebitda-estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'freq'] = opts[:'freq'] if !opts[:'freq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EbitdaEstimates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_ebitda_estimates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_ebitda_estimates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Earnings Estimates
    # Get company's EPS estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [EarningsEstimates]
    def company_eps_estimates(symbol, opts = {})
      data, _status_code, _headers = company_eps_estimates_with_http_info(symbol, opts)
      data
    end

    # Earnings Estimates
    # Get company&#39;s EPS estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [Array<(EarningsEstimates, Integer, Hash)>] EarningsEstimates data, response status code and response headers
    def company_eps_estimates_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_eps_estimates ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_eps_estimates"
      end
      # resource path
      local_var_path = '/stock/eps-estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'freq'] = opts[:'freq'] if !opts[:'freq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EarningsEstimates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_eps_estimates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_eps_estimates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company ESG Scores
    # <p>This endpoint provides ESG scores and important indicators for 1000+ global companies. The data is collected through company's public ESG disclosure and public sources.</p><p>Our ESG scoring models takes into account more than 150 different inputs to calculate the level of ESG risks and how well a company is managing them. A higher score means lower ESG risk or better ESG management. ESG scores are in the the range of 0-100. Some key indicators might contain letter-grade score from C- to A+ with C- is the lowest score and A+ is the highest score.</p>
    # @param symbol [String] Symbol.
    # @param [Hash] opts the optional parameters
    # @return [CompanyESG]
    def company_esg_score(symbol, opts = {})
      data, _status_code, _headers = company_esg_score_with_http_info(symbol, opts)
      data
    end

    # Company ESG Scores
    # &lt;p&gt;This endpoint provides ESG scores and important indicators for 1000+ global companies. The data is collected through company&#39;s public ESG disclosure and public sources.&lt;/p&gt;&lt;p&gt;Our ESG scoring models takes into account more than 150 different inputs to calculate the level of ESG risks and how well a company is managing them. A higher score means lower ESG risk or better ESG management. ESG scores are in the the range of 0-100. Some key indicators might contain letter-grade score from C- to A+ with C- is the lowest score and A+ is the highest score.&lt;/p&gt;
    # @param symbol [String] Symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyESG, Integer, Hash)>] CompanyESG data, response status code and response headers
    def company_esg_score_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_esg_score ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_esg_score"
      end
      # resource path
      local_var_path = '/stock/esg'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyESG'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_esg_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_esg_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company Executive
    # Get a list of company's executives and members of the Board.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @return [CompanyExecutive]
    def company_executive(symbol, opts = {})
      data, _status_code, _headers = company_executive_with_http_info(symbol, opts)
      data
    end

    # Company Executive
    # Get a list of company&#39;s executives and members of the Board.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompanyExecutive, Integer, Hash)>] CompanyExecutive data, response status code and response headers
    def company_executive_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_executive ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_executive"
      end
      # resource path
      local_var_path = '/stock/executive'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyExecutive'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_executive",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_executive\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company News
    # List latest company news by symbol. This endpoint is only available for North American companies.
    # @param symbol [String] Company symbol.
    # @param from [Date] From date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @param to [Date] To date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @param [Hash] opts the optional parameters
    # @return [Array<CompanyNews>]
    def company_news(symbol, from, to, opts = {})
      data, _status_code, _headers = company_news_with_http_info(symbol, from, to, opts)
      data
    end

    # Company News
    # List latest company news by symbol. This endpoint is only available for North American companies.
    # @param symbol [String] Company symbol.
    # @param from [Date] From date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @param to [Date] To date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CompanyNews>, Integer, Hash)>] Array<CompanyNews> data, response status code and response headers
    def company_news_with_http_info(symbol, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_news ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_news"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling DefaultApi.company_news"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling DefaultApi.company_news"
      end
      # resource path
      local_var_path = '/company-news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CompanyNews>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_news",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_news\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Peers
    # Get company peers. Return a list of peers in the same country and sub-industry
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def company_peers(symbol, opts = {})
      data, _status_code, _headers = company_peers_with_http_info(symbol, opts)
      data
    end

    # Peers
    # Get company peers. Return a list of peers in the same country and sub-industry
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def company_peers_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_peers ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_peers"
      end
      # resource path
      local_var_path = '/stock/peers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_peers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_peers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company Profile
    # Get general information of a company. You can query by symbol, ISIN or CUSIP
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol of the company: AAPL e.g.
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @return [CompanyProfile]
    def company_profile(opts = {})
      data, _status_code, _headers = company_profile_with_http_info(opts)
      data
    end

    # Company Profile
    # Get general information of a company. You can query by symbol, ISIN or CUSIP
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol of the company: AAPL e.g.
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @return [Array<(CompanyProfile, Integer, Hash)>] CompanyProfile data, response status code and response headers
    def company_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_profile ...'
      end
      # resource path
      local_var_path = '/stock/profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'isin'] = opts[:'isin'] if !opts[:'isin'].nil?
      query_params[:'cusip'] = opts[:'cusip'] if !opts[:'cusip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Company Profile 2
    # Get general information of a company. You can query by symbol, ISIN or CUSIP. This is the free version of <a href=\"#company-profile\">Company Profile</a>.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol of the company: AAPL e.g.
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @return [CompanyProfile2]
    def company_profile2(opts = {})
      data, _status_code, _headers = company_profile2_with_http_info(opts)
      data
    end

    # Company Profile 2
    # Get general information of a company. You can query by symbol, ISIN or CUSIP. This is the free version of &lt;a href&#x3D;\&quot;#company-profile\&quot;&gt;Company Profile&lt;/a&gt;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol of the company: AAPL e.g.
    # @option opts [String] :isin ISIN
    # @option opts [String] :cusip CUSIP
    # @return [Array<(CompanyProfile2, Integer, Hash)>] CompanyProfile2 data, response status code and response headers
    def company_profile2_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_profile2 ...'
      end
      # resource path
      local_var_path = '/stock/profile2'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'isin'] = opts[:'isin'] if !opts[:'isin'].nil?
      query_params[:'cusip'] = opts[:'cusip'] if !opts[:'cusip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompanyProfile2'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_profile2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_profile2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revenue Estimates
    # Get company's revenue estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [RevenueEstimates]
    def company_revenue_estimates(symbol, opts = {})
      data, _status_code, _headers = company_revenue_estimates_with_http_info(symbol, opts)
      data
    end

    # Revenue Estimates
    # Get company&#39;s revenue estimates.
    # @param symbol [String] Symbol of the company: AAPL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :freq Can take 1 of the following values: &lt;code&gt;annual, quarterly&lt;/code&gt;. Default to &lt;code&gt;quarterly&lt;/code&gt;
    # @return [Array<(RevenueEstimates, Integer, Hash)>] RevenueEstimates data, response status code and response headers
    def company_revenue_estimates_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.company_revenue_estimates ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.company_revenue_estimates"
      end
      # resource path
      local_var_path = '/stock/revenue-estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'freq'] = opts[:'freq'] if !opts[:'freq'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevenueEstimates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.company_revenue_estimates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#company_revenue_estimates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Country Metadata
    # List all countries and metadata.
    # @param [Hash] opts the optional parameters
    # @return [Array<CountryMetadata>]
    def country(opts = {})
      data, _status_code, _headers = country_with_http_info(opts)
      data
    end

    # Country Metadata
    # List all countries and metadata.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CountryMetadata>, Integer, Hash)>] Array<CountryMetadata> data, response status code and response headers
    def country_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.country ...'
      end
      # resource path
      local_var_path = '/country'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CountryMetadata>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.country",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#country\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # COVID-19
    # Get real-time updates on the number of COVID-19 (Corona virus) cases in the US with a state-by-state breakdown. Data is sourced from CDC and reputable sources. You can also access this API <a href=\"https://rapidapi.com/Finnhub/api/finnhub-real-time-covid-19\" target=\"_blank\" rel=\"nofollow\">here</a>
    # @param [Hash] opts the optional parameters
    # @return [Array<CovidInfo>]
    def covid19(opts = {})
      data, _status_code, _headers = covid19_with_http_info(opts)
      data
    end

    # COVID-19
    # Get real-time updates on the number of COVID-19 (Corona virus) cases in the US with a state-by-state breakdown. Data is sourced from CDC and reputable sources. You can also access this API &lt;a href&#x3D;\&quot;https://rapidapi.com/Finnhub/api/finnhub-real-time-covid-19\&quot; target&#x3D;\&quot;_blank\&quot; rel&#x3D;\&quot;nofollow\&quot;&gt;here&lt;/a&gt;
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CovidInfo>, Integer, Hash)>] Array<CovidInfo> data, response status code and response headers
    def covid19_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.covid19 ...'
      end
      # resource path
      local_var_path = '/covid19/us'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CovidInfo>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.covid19",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#covid19\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crypto Candles
    # Get candlestick data for crypto symbols.
    # @param symbol [String] Use symbol returned in &lt;code&gt;/crypto/symbol&lt;/code&gt; endpoint for this field.
    # @param resolution [String] Supported resolution includes &lt;code&gt;1, 5, 15, 30, 60, D, W, M &lt;/code&gt;.Some timeframes might not be available depending on the exchange.
    # @param from [Integer] UNIX timestamp. Interval initial value.
    # @param to [Integer] UNIX timestamp. Interval end value.
    # @param [Hash] opts the optional parameters
    # @return [CryptoCandles]
    def crypto_candles(symbol, resolution, from, to, opts = {})
      data, _status_code, _headers = crypto_candles_with_http_info(symbol, resolution, from, to, opts)
      data
    end

    # Crypto Candles
    # Get candlestick data for crypto symbols.
    # @param symbol [String] Use symbol returned in &lt;code&gt;/crypto/symbol&lt;/code&gt; endpoint for this field.
    # @param resolution [String] Supported resolution includes &lt;code&gt;1, 5, 15, 30, 60, D, W, M &lt;/code&gt;.Some timeframes might not be available depending on the exchange.
    # @param from [Integer] UNIX timestamp. Interval initial value.
    # @param to [Integer] UNIX timestamp. Interval end value.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CryptoCandles, Integer, Hash)>] CryptoCandles data, response status code and response headers
    def crypto_candles_with_http_info(symbol, resolution, from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.crypto_candles ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.crypto_candles"
      end
      # verify the required parameter 'resolution' is set
      if @api_client.config.client_side_validation && resolution.nil?
        fail ArgumentError, "Missing the required parameter 'resolution' when calling DefaultApi.crypto_candles"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling DefaultApi.crypto_candles"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling DefaultApi.crypto_candles"
      end
      # resource path
      local_var_path = '/crypto/candle'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'resolution'] = resolution
      query_params[:'from'] = from
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CryptoCandles'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.crypto_candles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#crypto_candles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crypto Exchanges
    # List supported crypto exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def crypto_exchanges(opts = {})
      data, _status_code, _headers = crypto_exchanges_with_http_info(opts)
      data
    end

    # Crypto Exchanges
    # List supported crypto exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def crypto_exchanges_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.crypto_exchanges ...'
      end
      # resource path
      local_var_path = '/crypto/exchange'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<String>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.crypto_exchanges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#crypto_exchanges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crypto Profile
    # Get crypto's profile.
    # @param symbol [String] Crypto symbol such as BTC or ETH.
    # @param [Hash] opts the optional parameters
    # @return [CryptoProfile]
    def crypto_profile(symbol, opts = {})
      data, _status_code, _headers = crypto_profile_with_http_info(symbol, opts)
      data
    end

    # Crypto Profile
    # Get crypto&#39;s profile.
    # @param symbol [String] Crypto symbol such as BTC or ETH.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CryptoProfile, Integer, Hash)>] CryptoProfile data, response status code and response headers
    def crypto_profile_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.crypto_profile ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.crypto_profile"
      end
      # resource path
      local_var_path = '/crypto/profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CryptoProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.crypto_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#crypto_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crypto Symbol
    # List supported crypto symbols by exchange
    # @param exchange [String] Exchange you want to get the list of symbols from.
    # @param [Hash] opts the optional parameters
    # @return [Array<CryptoSymbol>]
    def crypto_symbols(exchange, opts = {})
      data, _status_code, _headers = crypto_symbols_with_http_info(exchange, opts)
      data
    end

    # Crypto Symbol
    # List supported crypto symbols by exchange
    # @param exchange [String] Exchange you want to get the list of symbols from.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CryptoSymbol>, Integer, Hash)>] Array<CryptoSymbol> data, response status code and response headers
    def crypto_symbols_with_http_info(exchange, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.crypto_symbols ...'
      end
      # verify the required parameter 'exchange' is set
      if @api_client.config.client_side_validation && exchange.nil?
        fail ArgumentError, "Missing the required parameter 'exchange' when calling DefaultApi.crypto_symbols"
      end
      # resource path
      local_var_path = '/crypto/symbol'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'exchange'] = exchange

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CryptoSymbol>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.crypto_symbols",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#crypto_symbols\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Earnings Calendar
    # Get historical and coming earnings release. EPS and Revenue in this endpoint are non-GAAP, which means they are adjusted to exclude some one-time or unusual items. This is the same data investors usually react to and talked about on the media. Estimates are sourced from both sell-side and buy-side analysts.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from From date: 2020-03-15.
    # @option opts [Date] :to To date: 2020-03-16.
    # @option opts [String] :symbol Filter by symbol: AAPL.
    # @option opts [Boolean] :international Set to &lt;code&gt;true&lt;/code&gt; to include international markets. Default value is &lt;code&gt;false&lt;/code&gt;
    # @return [EarningsCalendar]
    def earnings_calendar(opts = {})
      data, _status_code, _headers = earnings_calendar_with_http_info(opts)
      data
    end

    # Earnings Calendar
    # Get historical and coming earnings release. EPS and Revenue in this endpoint are non-GAAP, which means they are adjusted to exclude some one-time or unusual items. This is the same data investors usually react to and talked about on the media. Estimates are sourced from both sell-side and buy-side analysts.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from From date: 2020-03-15.
    # @option opts [Date] :to To date: 2020-03-16.
    # @option opts [String] :symbol Filter by symbol: AAPL.
    # @option opts [Boolean] :international Set to &lt;code&gt;true&lt;/code&gt; to include international markets. Default value is &lt;code&gt;false&lt;/code&gt;
    # @return [Array<(EarningsCalendar, Integer, Hash)>] EarningsCalendar data, response status code and response headers
    def earnings_calendar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.earnings_calendar ...'
      end
      # resource path
      local_var_path = '/calendar/earnings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'international'] = opts[:'international'] if !opts[:'international'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EarningsCalendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.earnings_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#earnings_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Economic Calendar
    # <p>Get recent and upcoming economic releases.</p><p>Historical events and surprises are available for Enterprise clients.</p>
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from From date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @option opts [Date] :to To date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @return [EconomicCalendar]
    def economic_calendar(opts = {})
      data, _status_code, _headers = economic_calendar_with_http_info(opts)
      data
    end

    # Economic Calendar
    # &lt;p&gt;Get recent and upcoming economic releases.&lt;/p&gt;&lt;p&gt;Historical events and surprises are available for Enterprise clients.&lt;/p&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from From date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @option opts [Date] :to To date &lt;code&gt;YYYY-MM-DD&lt;/code&gt;.
    # @return [Array<(EconomicCalendar, Integer, Hash)>] EconomicCalendar data, response status code and response headers
    def economic_calendar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.economic_calendar ...'
      end
      # resource path
      local_var_path = '/calendar/economic'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EconomicCalendar'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.economic_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#economic_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Economic Code
    # List codes of supported economic data.
    # @param [Hash] opts the optional parameters
    # @return [Array<EconomicCode>]
    def economic_code(opts = {})
      data, _status_code, _headers = economic_code_with_http_info(opts)
      data
    end

    # Economic Code
    # List codes of supported economic data.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EconomicCode>, Integer, Hash)>] Array<EconomicCode> data, response status code and response headers
    def economic_code_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.economic_code ...'
      end
      # resource path
      local_var_path = '/economic/code'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EconomicCode>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.economic_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#economic_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Economic Data
    # Get economic data.
    # @param code [String] Economic code.
    # @param [Hash] opts the optional parameters
    # @return [EconomicData]
    def economic_data(code, opts = {})
      data, _status_code, _headers = economic_data_with_http_info(code, opts)
      data
    end

    # Economic Data
    # Get economic data.
    # @param code [String] Economic code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(EconomicData, Integer, Hash)>] EconomicData data, response status code and response headers
    def economic_data_with_http_info(code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.economic_data ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DefaultApi.economic_data"
      end
      # resource path
      local_var_path = '/economic'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = code

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EconomicData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.economic_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#economic_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ETFs Country Exposure
    # Get ETF country exposure data.
    # @param symbol [String] ETF symbol.
    # @param [Hash] opts the optional parameters
    # @return [ETFsCountryExposure]
    def etfs_country_exposure(symbol, opts = {})
      data, _status_code, _headers = etfs_country_exposure_with_http_info(symbol, opts)
      data
    end

    # ETFs Country Exposure
    # Get ETF country exposure data.
    # @param symbol [String] ETF symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ETFsCountryExposure, Integer, Hash)>] ETFsCountryExposure data, response status code and response headers
    def etfs_country_exposure_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.etfs_country_exposure ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.etfs_country_exposure"
      end
      # resource path
      local_var_path = '/etf/country'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ETFsCountryExposure'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.etfs_country_exposure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#etfs_country_exposure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ETFs Holdings
    # Get full ETF holdings/constituents. This endpoint has global coverage. Widget only shows top 10 holdings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol ETF symbol.
    # @option opts [String] :isin ETF isin.
    # @option opts [Integer] :skip Skip the first n results. You can use this parameter to query historical constituents data. The latest result is returned if skip&#x3D;0 or not set.
    # @option opts [String] :date Query holdings by date. You can use either this param or &lt;code&gt;skip&lt;/code&gt; param, not both.
    # @return [ETFsHoldings]
    def etfs_holdings(opts = {})
      data, _status_code, _headers = etfs_holdings_with_http_info(opts)
      data
    end

    # ETFs Holdings
    # Get full ETF holdings/constituents. This endpoint has global coverage. Widget only shows top 10 holdings.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol ETF symbol.
    # @option opts [String] :isin ETF isin.
    # @option opts [Integer] :skip Skip the first n results. You can use this parameter to query historical constituents data. The latest result is returned if skip&#x3D;0 or not set.
    # @option opts [String] :date Query holdings by date. You can use either this param or &lt;code&gt;skip&lt;/code&gt; param, not both.
    # @return [Array<(ETFsHoldings, Integer, Hash)>] ETFsHoldings data, response status code and response headers
    def etfs_holdings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.etfs_holdings ...'
      end
      # resource path
      local_var_path = '/etf/holdings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'isin'] = opts[:'isin'] if !opts[:'isin'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ETFsHoldings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.etfs_holdings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#etfs_holdings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ETFs Profile
    # Get ETF profile information. This endpoint has global coverage.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol ETF symbol.
    # @option opts [String] :isin ETF isin.
    # @return [ETFsProfile]
    def etfs_profile(opts = {})
      data, _status_code, _headers = etfs_profile_with_http_info(opts)
      data
    end

    # ETFs Profile
    # Get ETF profile information. This endpoint has global coverage.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol ETF symbol.
    # @option opts [String] :isin ETF isin.
    # @return [Array<(ETFsProfile, Integer, Hash)>] ETFsProfile data, response status code and response headers
    def etfs_profile_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.etfs_profile ...'
      end
      # resource path
      local_var_path = '/etf/profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'isin'] = opts[:'isin'] if !opts[:'isin'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ETFsProfile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.etfs_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#etfs_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ETFs Sector Exposure
    # Get ETF sector exposure data.
    # @param symbol [String] ETF symbol.
    # @param [Hash] opts the optional parameters
    # @return [ETFsSectorExposure]
    def etfs_sector_exposure(symbol, opts = {})
      data, _status_code, _headers = etfs_sector_exposure_with_http_info(symbol, opts)
      data
    end

    # ETFs Sector Exposure
    # Get ETF sector exposure data.
    # @param symbol [String] ETF symbol.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ETFsSectorExposure, Integer, Hash)>] ETFsSectorExposure data, response status code and response headers
    def etfs_sector_exposure_with_http_info(symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.etfs_sector_exposure ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.etfs_sector_exposure"
      end
      # resource path
      local_var_path = '/etf/sector'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ETFsSectorExposure'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.etfs_sector_exposure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#etfs_sector_exposure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # FDA Committee Meeting Calendar
    # FDA's advisory committees are established to provide functions which support the agency's mission of protecting and promoting the public health, while meeting the requirements set forth in the Federal Advisory Committee Act. Committees are either mandated by statute or established at the discretion of the Department of Health and Human Services. Each committee is subject to renewal at two-year intervals unless the committee charter states otherwise.
    # @param [Hash] opts the optional parameters
    # @return [Array<FDAComitteeMeeting>]
    def fda_committee_meeting_calendar(opts = {})
      data, _status_code, _headers = fda_committee_meeting_calendar_with_http_info(opts)
      data
    end

    # FDA Committee Meeting Calendar
    # FDA&#39;s advisory committees are established to provide functions which support the agency&#39;s mission of protecting and promoting the public health, while meeting the requirements set forth in the Federal Advisory Committee Act. Committees are either mandated by statute or established at the discretion of the Department of Health and Human Services. Each committee is subject to renewal at two-year intervals unless the committee charter states otherwise.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FDAComitteeMeeting>, Integer, Hash)>] Array<FDAComitteeMeeting> data, response status code and response headers
    def fda_committee_meeting_calendar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fda_committee_meeting_calendar ...'
      end
      # resource path
      local_var_path = '/fda-advisory-committee-calendar'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FDAComitteeMeeting>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.fda_committee_meeting_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fda_committee_meeting_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SEC Filings
    # List company's filing. Limit to 250 documents at a time. This data is available for bulk download on <a href=\"https://www.kaggle.com/finnhub/sec-filings\" target=\"_blank\">Kaggle SEC Filings database</a>.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol. Leave &lt;code&gt;symbol&lt;/code&gt;,&lt;code&gt;cik&lt;/code&gt; and &lt;code&gt;accessNumber&lt;/code&gt; empty to list latest filings.
    # @option opts [String] :cik CIK.
    # @option opts [String] :access_number Access number of a specific report you want to retrieve data from.
    # @option opts [String] :form Filter by form. You can use this value &lt;code&gt;NT 10-K&lt;/code&gt; to find non-timely filings for a company.
    # @option opts [Date] :from From date: 2020-03-15.
    # @option opts [Date] :to To date: 2020-03-16.
    # @return [Array<Filing>]
    def filings(opts = {})
      data, _status_code, _headers = filings_with_http_info(opts)
      data
    end

    # SEC Filings
    # List company&#39;s filing. Limit to 250 documents at a time. This data is available for bulk download on &lt;a href&#x3D;\&quot;https://www.kaggle.com/finnhub/sec-filings\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Kaggle SEC Filings database&lt;/a&gt;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol. Leave &lt;code&gt;symbol&lt;/code&gt;,&lt;code&gt;cik&lt;/code&gt; and &lt;code&gt;accessNumber&lt;/code&gt; empty to list latest filings.
    # @option opts [String] :cik CIK.
    # @option opts [String] :access_number Access number of a specific report you want to retrieve data from.
    # @option opts [String] :form Filter by form. You can use this value &lt;code&gt;NT 10-K&lt;/code&gt; to find non-timely filings for a company.
    # @option opts [Date] :from From date: 2020-03-15.
    # @option opts [Date] :to To date: 2020-03-16.
    # @return [Array<(Array<Filing>, Integer, Hash)>] Array<Filing> data, response status code and response headers
    def filings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.filings ...'
      end
      # resource path
      local_var_path = '/stock/filings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = opts[:'symbol'] if !opts[:'symbol'].nil?
      query_params[:'cik'] = opts[:'cik'] if !opts[:'cik'].nil?
      query_params[:'accessNumber'] = opts[:'access_number'] if !opts[:'access_number'].nil?
      query_params[:'form'] = opts[:'form'] if !opts[:'form'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Filing>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.filings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#filings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SEC Sentiment Analysis
    # Get sentiment analysis of 10-K and 10-Q filings from SEC. An abnormal increase in the number of positive/negative words in filings can signal a significant change in the company's stock price in the upcoming 4 quarters. We make use of <a href= \"https://sraf.nd.edu/textual-analysis/resources/\" target=\"_blank\">Loughran and McDonald Sentiment Word Lists</a> to calculate the sentiment for each filing.
    # @param access_number [String] Access number of a specific report you want to retrieve data from.
    # @param [Hash] opts the optional parameters
    # @return [SECSentimentAnalysis]
    def filings_sentiment(access_number, opts = {})
      data, _status_code, _headers = filings_sentiment_with_http_info(access_number, opts)
      data
    end

    # SEC Sentiment Analysis
    # Get sentiment analysis of 10-K and 10-Q filings from SEC. An abnormal increase in the number of positive/negative words in filings can signal a significant change in the company&#39;s stock price in the upcoming 4 quarters. We make use of &lt;a href&#x3D; \&quot;https://sraf.nd.edu/textual-analysis/resources/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Loughran and McDonald Sentiment Word Lists&lt;/a&gt; to calculate the sentiment for each filing.
    # @param access_number [String] Access number of a specific report you want to retrieve data from.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SECSentimentAnalysis, Integer, Hash)>] SECSentimentAnalysis data, response status code and response headers
    def filings_sentiment_with_http_info(access_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.filings_sentiment ...'
      end
      # verify the required parameter 'access_number' is set
      if @api_client.config.client_side_validation && access_number.nil?
        fail ArgumentError, "Missing the required parameter 'access_number' when calling DefaultApi.filings_sentiment"
      end
      # resource path
      local_var_path = '/stock/filings-sentiment'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accessNumber'] = access_number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SECSentimentAnalysis'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.filings_sentiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#filings_sentiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Financial Statements
    # <p>Get standardized balance sheet, income statement and cash flow for global companies going back 30+ years. Data is sourced from original filings most of which made available through <a href=\"#filings\">SEC Filings</a> and <a href=\"#international-filings\">International Filings</a> endpoints.</p><p><i>Wondering why our standardized data is different from Bloomberg, Reuters, Factset, S&P or Yahoo Finance ? Check out our <a href=\"/faq\">FAQ page</a> to learn more</i></p>
    # @param symbol [String] Symbol of the company: AAPL.
    # @param statement [String] Statement can take 1 of these values &lt;code&gt;bs, ic, cf&lt;/code&gt; for Balance Sheet, Income Statement, Cash Flow respectively.
    # @param freq [String] Frequency can take 1 of these values &lt;code&gt;annual, quarterly, ttm, ytd&lt;/code&gt;.  TTM (Trailing Twelve Months) option is available for Income Statement and Cash Flow. YTD (Year To Date) option is only available for Cash Flow.
    # @param [Hash] opts the optional parameters
    # @return [FinancialStatements]
    def financials(symbol, statement, freq, opts = {})
      data, _status_code, _headers = financials_with_http_info(symbol, statement, freq, opts)
      data
    end

    # Financial Statements
    # &lt;p&gt;Get standardized balance sheet, income statement and cash flow for global companies going back 30+ years. Data is sourced from original filings most of which made available through &lt;a href&#x3D;\&quot;#filings\&quot;&gt;SEC Filings&lt;/a&gt; and &lt;a href&#x3D;\&quot;#international-filings\&quot;&gt;International Filings&lt;/a&gt; endpoints.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Wondering why our standardized data is different from Bloomberg, Reuters, Factset, S&amp;P or Yahoo Finance ? Check out our &lt;a href&#x3D;\&quot;/faq\&quot;&gt;FAQ page&lt;/a&gt; to learn more&lt;/i&gt;&lt;/p&gt;
    # @param symbol [String] Symbol of the company: AAPL.
    # @param statement [String] Statement can take 1 of these values &lt;code&gt;bs, ic, cf&lt;/code&gt; for Balance Sheet, Income Statement, Cash Flow respectively.
    # @param freq [String] Frequency can take 1 of these values &lt;code&gt;annual, quarterly, ttm, ytd&lt;/code&gt;.  TTM (Trailing Twelve Months) option is available for Income Statement and Cash Flow. YTD (Year To Date) option is only available for Cash Flow.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FinancialStatements, Integer, Hash)>] FinancialStatements data, response status code and response headers
    def financials_with_http_info(symbol, statement, freq, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.financials ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling DefaultApi.financials"
      end
      # verify the required parameter 'statement' is set
      if @api_client.config.client_side_validation && statement.nil?
        fail ArgumentError, "Missing the required parameter 'statement' when calling DefaultApi.financials"
      end
      # verify the required parameter 'freq' is set
      if @api_client.config.client_side_validation && freq.nil?
        fail ArgumentError, "Missing the required parameter 'freq' when calling DefaultApi.financials"
      end
      # resource path
      local_var_path = '/stock/financials'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'symbol'] = symbol
      query_params[:'statement'] = statement
      query_params[:'freq'] = freq

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinancialStatements'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"DefaultApi.financials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#financials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Financials As Reported
    # Get financials as reported. This data is available for bulk download on <a href=\"https://www.kaggle.com/finnhub/reported-financials\" target=\"_blank\">Kaggle SEC Financials database</a>.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :symbol Symbol.
    # @option opts [String] :cik CIK.
    # @option opts [String] :access_number Access number of a specific report you want to retrieve financials from.
    # @option opts [String] :freq Frequency. Can be either &lt;code&gt;annual&lt;/code&gt; or &lt;code&gt;quarterly&lt;/code&gt;. Default to &lt;code&gt;annual&lt;/code&gt;.
    # @return [FinancialsAsReported]
    def financials_reported(opts = {})
[...]
